<div class="mask hidden">
  <div class="window_center">
    <div style="--i:-0.33s" class="loading_bar"></div>
    <div style="--i:0.0s" class="loading_bar"></div>
    <div style="--i:0.33s" class="loading_bar"></div>
    <div style="--i:-0.33s" class="loading_bar"></div>
    <div style="--i:0.0s" class="loading_bar"></div>
    <div style="--i:0.33s" class="loading_bar"></div>
  </div>
</div>